/* Reset */
* {
	margin: 0;
	padding: 0;
}

/* Full Page */
html {
	scroll-behavior: smooth;
}
p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.logo {
	text-align: center;
	margin: 1rem;
	margin-top: 3rem;
	max-width: 100%;
}
.ctr {
	text-align: center;
}
.mid {
	margin: 0 auto;
}
.icon {
	margin: 0 .75rem;
}
.noMargin {
	margin: 0;
}
.addBold {
	font-weight: bold;
}
.miniCarousel {
	height: 100%;
	width: 130%;
	margin: 0;
}
.menuPic {
	max-height: 335px;
	-webkit-box-shadow: 0px 0px 7px 5px #E53935; 
	box-shadow: 0px 0px 7px 5px #E53935;
}
.dlLink {
	color: #E53935;
	text-align: center;
	margin: 0 auto;
}
.featurePic {
	max-height: 100%;
}
.galleryColumn {
	display: inline-block;
	vertical-align: top;
}
.foodGallery {
	width: 151px;
	margin: 0 .5rem 1rem .5rem;
}

/* Center Nav */
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}
.mobileNav {
	margin-top: 56px;
}

/* Mini Logo */
.miniLogo {
	max-width: 0;
	overflow: hidden;
	transition: all 5s;
}
.sticky-nav a.miniLogo {
	max-width: 500px;
}

/* Sticky Header */
.sticky-nav nav {
	position: fixed;
	top: 0;
	z-index: 1000;
}

/* Modals */
.cardSlide {
	opacity: 0;
	transition: all 1s;
	transform: translateY(40%) scale(0.85);
}
.cardSlide.active {
	opacity: 1;
	transform: translateX(0%) scale(1);
}
.cardPic {
	min-height: 400px;
    max-height: 400px;   
}
.cardTextBox {
	min-height: 135px;
    max-height: 135px; 
}
.reference {
	text-align: right;
	font-style: italic;
}
.legalText {
	color: black;
}
.modalTitle {
	color: #E53935;
}
.question {
	font-weight: bold;
}
.response {
	font-weight: bold;
	color: #E53935;
}
/* Form */
.input-field input:focus + label {
   	color: #E53935 !important;
}
.input-field textarea:focus + label {
   	color: #E53935 !important;
}
.row .input-field input:focus {
   	border-bottom: 1px solid #E53935 !important;
   	box-shadow: 0 1px 0 0 #E53935 !important
}
.row .input-field textarea:focus {
   	border-bottom: 1px solid #E53935 !important;
   	box-shadow: 0 1px 0 0 #E53935 !important
}

/* Temp */

.nmtrue {
	width: 100%;
}