/* Reset */
* {
	margin: 0;
	padding: 0;
}

/* Full Page */
html {
  scroll-behavior: smooth;
}
.ctr {
	text-align: center;
}
.mid {
	margin: 0 auto;
}
.icon {
	margin: 0 .75rem;
}

/* To center navigation bar option */
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

/* Sticky header */
.sticky-nav nav {
	position: fixed;
	top: 0;
	z-index: 1000;
}

/* Modals */
.cardSlide {
	opacity: 0;
	transition: all 1s;
	transform: translateY(40%) scale(0.85);
}
.cardSlide.active {
	opacity: 1;
	transform: translateX(0%) scale(1);
}
.cardPic {
	min-height: 400px;
    max-height: 400px;   
}
.reference {
	text-align: right;
	font-style: italic;
}
.modalTitle {
	color: #E53935;
}