/* Reset */
* {
	margin: 0;
	padding: 0;
}

/* Full Page */
html {
  scroll-behavior: smooth;
}
.ctr {
	text-align: center;
}
.mid {
	margin: 0 auto;
}
.icon {
	margin: 0 .75rem;
}

/* To center navigation bar option */
nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

/* Sticky header */
.sticky-nav nav {
	position: fixed;
	top: 0;
	z-index: 1000;
}
.cardPic {
	min-height: 400px;
    max-height: 400px;
}